{% extends '::base.html.twig' %}

{% block title %}ReleaseHub{% endblock %}

{% block body %}



<h1 id="container">Projects</h1>
{% for project in projects %}
<div class="panel panel-default">
  <div class="panel-body">
    <h3>{{project.name }}</h3>
    <a href="{{ path('relhub_web_project_edit', {'project': project.id}) }}">Edit Project</a>
  </div>
</div>
{% endfor %}

{% endblock %}
