<VirtualHost *:80>
    ServerName release.localhost
    ServerAlias release.localhost
    ServerAdmin webmaster@localhost

    DocumentRoot /var/docroot/release-hub/web
    <Directory /var/docroot/release-hub/web/>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride None
        Require all granted
        Order allow,deny
        allow from all
        <IfModule mod_rewrite.c>
            RewriteEngine On
            RewriteCond %{REQUEST_FILENAME} !-f
            RewriteRule ^(.*)$ /app.php [QSA,L]
        </IfModule>
    </Directory>
</VirtualHost>
